[Unit]
Description=Src IP Nexthop
After=network-online.target
Requires=network-online.target

[Service]
ExecStart=/usr/bin/srcip-nexthop -n
Restart=always

[Install]
WantedBy=multi-user.target